.header {
  display: flex;
  justify-content: space-between;
}

.logo_div {
  display: flex;
  gap: 40px;
  align-items: center;
}

.logo_div h2 {
  font-size: 30px;
  background-color: #cb81ff;
  padding: 6px;
}

.nav_div {
  display: flex;
  gap: 20px;
}

.nav_div a {
  color: #201b10;
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.nav_div a.active {
  border-bottom: 2px solid #333;
}
